{:deps {re-frame {:mvn/version "0.10.7"}
        garden {:mvn/version "1.3.9"}
        com.bhauman/figwheel-main {:mvn/version "0.2.3"}
        gardener {:local/root "../gardener"}}
 :paths ["src" "target" "resources"]
 :aliases {:gardener-dev {:main-opts ["--main" "gardener.compiler"
                                    "--stylesheet" "bulb.styles.core/core"
                                    "--output-to" "resources/public/css/index.css"
                                    "--watch" "src/bulb/styles"
                                    "--pretty-print" "true"]}
           :gardener-prod {:main-opts ["--main" "gardener.compiler"
                                     "--stylesheet" "bulb.styles.core/core"
                                     "--output-to" "resources/public/css/index.css"
                                     "--build-once" "true"]}
           :figwheel-prod {:main-opts ["--main" "figwheel.main"
                                       "--build-once" "prod"]}
           :figwheel-serve {:main-opts ["--main" "figwheel.main" "--serve"]}}}
